@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700;800&family=JetBrains+Mono:wght@400;700&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

body {
  background-color: #0D0F12;
  color: #E1E2EC;
  -webkit-font-smoothing: antialiased;
}

.functional-border {
  border: 1px solid #27272A;
}

.zebra-list > div:nth-child(even) {
  background-color: #16181D;
}

.zebra-list > div:nth-child(odd) {
  background-color: #0D0F12;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
